In [4]:
import sqlite3

# Crear o conectar a la base de datos SQLite
conn = sqlite3.connect('gestion_fotografias_documentos.db')
cursor = conn.cursor()

# Crear la tabla de categorias
cursor.execute('''
CREATE TABLE IF NOT EXISTS categorias (
    id_categoria INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre_categoria TEXT NOT NULL,
    descripcion TEXT
)
''')

# Crear la tabla de usuarios
cursor.execute('''
CREATE TABLE IF NOT EXISTS usuarios (
    id_usuario INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    email TEXT NOT NULL,
    contraseña TEXT NOT NULL,
    fecha_registro DATETIME DEFAULT CURRENT_TIMESTAMP
)
''')

# Crear la tabla de fotografias
cursor.execute('''
CREATE TABLE IF NOT EXISTS fotografias (
    id_fotografia INTEGER PRIMARY KEY AUTOINCREMENT,
    id_usuario INTEGER,
    titulo TEXT NOT NULL,
    descripcion TEXT,
    fecha_subida DATETIME DEFAULT CURRENT_TIMESTAMP,
    ruta_archivo TEXT NOT NULL,
    id_categoria INTEGER,
    FOREIGN KEY (id_usuario) REFERENCES usuarios (id_usuario),
    FOREIGN KEY (id_categoria) REFERENCES categorias (id_categoria)
)
''')

# Crear la tabla de documentos
cursor.execute('''
CREATE TABLE IF NOT EXISTS documentos (
    id_documento INTEGER PRIMARY KEY AUTOINCREMENT,
    id_usuario INTEGER,
    nombre TEXT NOT NULL,
    tipo_archivo TEXT NOT NULL,
    tamaño INTEGER,
    fecha_subida DATETIME DEFAULT CURRENT_TIMESTAMP,
    ruta_archivo TEXT NOT NULL,
    id_categoria INTEGER,
    FOREIGN KEY (id_usuario) REFERENCES usuarios (id_usuario),
    FOREIGN KEY (id_categoria) REFERENCES categorias (id_categoria)
)
''')

# Crear la tabla de metadatos
cursor.execute('''
CREATE TABLE IF NOT EXISTS metadatos (
    id_metadato INTEGER PRIMARY KEY AUTOINCREMENT,
    id_fotografia INTEGER,
    id_documento INTEGER,
    tipo_metadato TEXT NOT NULL,
    valor_metadato TEXT NOT NULL,
    FOREIGN KEY (id_fotografia) REFERENCES fotografias (id_fotografia),
    FOREIGN KEY (id_documento) REFERENCES documentos (id_documento)
)
''')

# Confirmar los cambios
conn.commit()

# Insertar datos de ejemplo en la tabla 'categorias'
categorias = [
    ('Paisajes', 'Fotografías de paisajes naturales y urbanos'),
    ('Retratos', 'Fotografías de personas o grupos de personas'),
    ('Eventos', 'Fotografías tomadas en eventos o celebraciones')
]

cursor.executemany('''
INSERT INTO categorias (nombre_categoria, descripcion)
VALUES (?, ?)
''', categorias)

# Insertar datos de ejemplo en la tabla 'usuarios'
usuarios = [
    ('Juan Perez', 'juan@example.com', 'contraseña123'),
    ('Maria Lopez', 'maria@example.com', 'contraseña456'),
    ('Carlos Garcia', 'carlos@example.com', 'contraseña789')
]

cursor.executemany('''
INSERT INTO usuarios (nombre, email, contraseña)
VALUES (?, ?, ?)
''', usuarios)

# Insertar datos de ejemplo en la tabla 'fotografias'
fotografias = [
    (1, 'Atardecer en la playa', 'Una hermosa foto del atardecer en la playa', '/ruta/foto1.jpg', 1),
    (2, 'Retrato en blanco y negro', 'Un retrato de una persona en blanco y negro', '/ruta/foto2.jpg', 2),
    (3, 'Fiesta de cumpleaños', 'Una fotografía de una fiesta de cumpleaños', '/ruta/foto3.jpg', 3)
]

cursor.executemany('''
INSERT INTO fotografias (id_usuario, titulo, descripcion, ruta_archivo, id_categoria)
VALUES (?, ?, ?, ?, ?)
''', fotografias)

# Insertar datos de ejemplo en la tabla 'documentos'
documentos = [
    (1, 'Documento1', 'pdf', 120, '/ruta/doc1.pdf', 1),
    (2, 'Documento2', 'docx', 340, '/ruta/doc2.docx', 2),
    (3, 'Documento3', 'txt', 55, '/ruta/doc3.txt', 3)
]

cursor.executemany('''
INSERT INTO documentos (id_usuario, nombre, tipo_archivo, tamaño, ruta_archivo, id_categoria)
VALUES (?, ?, ?, ?, ?, ?)
''', documentos)

# Insertar datos de ejemplo en la tabla 'metadatos'
metadatos = [
    (1, None, 'EXIF', 'Resolución: 1920x1080'),
    (None, 1, 'Autor', 'Juan Perez'),
    (2, None, 'EXIF', 'Resolución: 3000x2000')
]

cursor.executemany('''
INSERT INTO metadatos (id_fotografia, id_documento, tipo_metadato, valor_metadato)
VALUES (?, ?, ?, ?)
''', metadatos)

# Confirmar los cambios
conn.commit()

# Consultar y mostrar los datos insertados para verificar que todo esté correcto
cursor.execute('SELECT * FROM usuarios')
usuarios = cursor.fetchall()
print("Usuarios:")
for usuario in usuarios:
    print(usuario)

cursor.execute('SELECT * FROM categorias')
categorias = cursor.fetchall()
print("\nCategorías:")
for categoria in categorias:
    print(categoria)

cursor.execute('SELECT * FROM fotografias')
fotografias = cursor.fetchall()
print("\nFotografías:")
for fotografia in fotografias:
    print(fotografia)

cursor.execute('SELECT * FROM documentos')
documentos = cursor.fetchall()
print("\nDocumentos:")
for documento in documentos:
    print(documento)

cursor.execute('SELECT * FROM metadatos')
metadatos = cursor.fetchall()
print("\nMetadatos:")
for metadato in metadatos:
    print(metadato)

# Cerrar la conexión
conn.close()

Usuarios:
(1, 'Juan Perez', 'juan@example.com', 'password123', '2025-03-22 15:35:49')
(2, 'Maria Lopez', 'maria@example.com', 'password456', '2025-03-22 15:35:49')
(3, 'Carlos Garcia', 'carlos@example.com', 'password789', '2025-03-22 15:35:49')
(4, 'Juan Perez', 'juan@example.com', 'contraseña123', '2025-03-22 16:25:36')
(5, 'Maria Lopez', 'maria@example.com', 'contraseña456', '2025-03-22 16:25:36')
(6, 'Carlos Garcia', 'carlos@example.com', 'contraseña789', '2025-03-22 16:25:36')

Categorías:
(1, 'Paisajes', 'Fotografías de paisajes naturales y urbanos')
(2, 'Retratos', 'Fotografías de personas o grupos de personas')
(3, 'Eventos', 'Fotografías tomadas en eventos o celebraciones')

Fotografías:
(2, 2, 'Montañas nevadas', 'Foto de unas montañas cubiertas de nieve', '2025-03-22 15:35:49', '/ruta/a/la/foto2.jpg', 2)
(3, 3, 'Retrato en blanco y negro', 'Foto de una persona en blanco y negro', '2025-03-22 15:35:49', '/ruta/a/la/foto3.jpg', 1)
(4, 1, 'Atardecer en la playa', 'Una hermosa foto del atardecer en la playa', '2025-03-22 16:25:36', '/ruta/foto1.jpg', 1)
(5, 2, 'Retrato en blanco y negro', 'Un retrato de una persona en blanco y negro', '2025-03-22 16:25:36', '/ruta/foto2.jpg', 2)
(6, 3, 'Fiesta de cumpleaños', 'Una fotografía de una fiesta de cumpleaños', '2025-03-22 16:25:36', '/ruta/foto3.jpg', 3)

Documentos:
(1, 1, 'Documento1', 'pdf', 120, '2025-03-22 16:25:36', '/ruta/doc1.pdf', 1)
(2, 2, 'Documento2', 'docx', 340, '2025-03-22 16:25:36', '/ruta/doc2.docx', 2)
(3, 3, 'Documento3', 'txt', 55, '2025-03-22 16:25:36', '/ruta/doc3.txt', 3)

Metadatos:
(1, 1, None, 'EXIF', 'Resolución: 1920x1080')
(2, None, 1, 'Autor', 'Juan Perez')
(3, 2, None, 'EXIF', 'Resolución: 3000x2000')